# Data Analyst Jobs Analysis

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import json
import re
import datetime

from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import cross_val_score

from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn import tree

from xgboost import XGBRegressor

In [2]:
def disp_unique_col_val(columns):
    for col in columns:
        uniques = df[col].unique()
        print(col)
        print('=' * 30)
        for unique in uniques:
            print(unique)
        if (col != df.columns[-1]): print('\n')

## Model Import

In [3]:
df = pd.read_csv('assets/data_analyst_jobs.csv')

## Model Inspection

In [4]:
df.head()

,Unnamed: 0,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Easy Apply
0,0,"Data Analyst, Center on Immigration and Justic...",$37K-$66K (Glassdoor est.),Are you eager to roll up your sleeves and harn...,3.2,Vera Institute of Justice\n3.2,"New York, NY","New York, NY",201 to 500 employees,1961,Nonprofit Organization,Social Assistance,Non-Profit,$100 to $500 million (USD),-1,True
1,1,Quality Data Analyst,$37K-$66K (Glassdoor est.),Overview\n\nProvides analytical and technical ...,3.8,Visiting Nurse Service of New York\n3.8,"New York, NY","New York, NY",10000+ employees,1893,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1,-1
2,2,"Senior Data Analyst, Insights & Analytics Team...",$37K-$66K (Glassdoor est.),We’re looking for a Senior Data Analyst who ha...,3.4,Squarespace\n3.4,"New York, NY","New York, NY",1001 to 5000 employees,2003,Company - Private,Internet,Information Technology,Unknown / Non-Applicable,GoDaddy,-1
3,3,Data Analyst,$37K-$66K (Glassdoor est.),Requisition NumberRR-0001939\nRemote:Yes\nWe c...,4.1,Celerity\n4.1,"New York, NY","McLean, VA",201 to 500 employees,2002,Subsidiary or Business Segment,IT Services,Information Technology,$50 to $100 million (USD),-1,-1
4,4,Reporting Data Analyst,$37K-$66K (Glassdoor est.),ABOUT FANDUEL GROUP\n\nFanDuel Group is a worl...,3.9,FanDuel\n3.9,"New York, NY","New York, NY",501 to 1000 employees,2009,Company - Private,Sports & Recreation,"Arts, Entertainment & Recreation",$100 to $500 million (USD),DraftKings,True

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2253 entries, 0 to 2252
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         2253 non-null   int64
 1   Job Title          2253 non-null   object
 2   Salary Estimate    2253 non-null   object
 3   Job Description    2253 non-null   object
 4   Rating             2253 non-null   float64
 5   Company Name       2252 non-null   object
 6   Location           2253 non-null   object
 7   Headquarters       2253 non-null   object
 8   Size               2253 non-null   object
 9   Founded            2253 non-null   int64
 10  Type of ownership  2253 non-null   object
 11  Industry           2253 non-null   object
 12  Sector             2253 non-null   object
 13  Revenue            2253 non-null   object
 14  Competitors        2253 non-null   object
 15  Easy Apply         2253 non-null   object
dtypes: float64(1), int64(2), object(13)
memory usage: 281.8+ KB

## Model Cleaning

### Drop Unused Columns

In [6]:
col_drop_list = [df.columns[0], df.columns[3], df.columns[5], df.columns[14], df.columns[15]]
df = df.drop(columns=col_drop_list)
print(col_drop_list)
disp_unique_col_val(df.columns[1:])

['Unnamed: 0', 'Job Description', 'Company Name', 'Competitors', 'Easy Apply']
Salary Estimate
==============================
$37K-$66K (Glassdoor est.)
$46K-$87K (Glassdoor est.)
$51K-$88K (Glassdoor est.)
$51K-$87K (Glassdoor est.)
$59K-$85K (Glassdoor est.)
$43K-$76K (Glassdoor est.)
$60K-$110K (Glassdoor est.)
$41K-$78K (Glassdoor est.)
$45K-$88K (Glassdoor est.)
$73K-$127K (Glassdoor est.)
$84K-$90K (Glassdoor est.)
$27K-$52K (Glassdoor est.)
$42K-$74K (Glassdoor est.)
$77K-$132K (Glassdoor est.)
$98K-$114K (Glassdoor est.)
$48K-$96K (Glassdoor est.)
$26K-$47K (Glassdoor est.)
$31K-$59K (Glassdoor est.)
$47K-$81K (Glassdoor est.)
$43K-$69K (Glassdoor est.)
$49K-$112K (Glassdoor est.)
$30K-$54K (Glassdoor est.)
$55K-$103K (Glassdoor est.)
$37K-$70K (Glassdoor est.)
$57K-$103K (Glassdoor est.)
$35K-$45K (Glassdoor est.)
$42K-$66K (Glassdoor est.)
$65K-$81K (Glassdoor est.)
$113K-$132K (Glassdoor est.)
$42K-$63K (Glassdoor est.)
$60K-$66K (Glassdoor est.)
$73K-$82K (Glassdoor est.)
$67K-$92K (Glassdoor est.)
$42K-$76K (Glassdoor est.)
$97K-$129K (Glassdoor est.)
$68K-$87K (Glassdoor est.)
$29K-$38K (Glassdoor est.)
$47K-$76K (Glassdoor est.)
$74K-$123K (Glassdoor est.)
$53K-$94K (Glassdoor est.)
$46K-$102K (Glassdoor est.)
$43K-$94K (Glassdoor est.)
$45K-$78K (Glassdoor est.)
$38K-$68K (Glassdoor est.)
$37K-$44K (Glassdoor est.)
$64K-$113K (Glassdoor est.)
$50K-$93K (Glassdoor est.)
$37K-$68K (Glassdoor est.)
$73K-$89K (Glassdoor est.)
$76K-$122K (Glassdoor est.)
$60K-$124K (Glassdoor est.)
$34K-$61K (Glassdoor est.)
$24K-$48K (Glassdoor est.)
$30K-$53K (Glassdoor est.)
$41K-$86K (Glassdoor est.)
$44K-$82K (Glassdoor est.)
$48K-$88K (Glassdoor est.)
$44K-$78K (Glassdoor est.)
$110K-$190K (Glassdoor est.)
$89K-$151K (Glassdoor est.)
$69K-$127K (Glassdoor est.)
$51K-$93K (Glassdoor est.)
$58K-$93K (Glassdoor est.)
$63K-$116K (Glassdoor est.)
$53K-$104K (Glassdoor est.)
$35K-$42K (Glassdoor est.)
$43K-$77K (Glassdoor est.)
$40K-$72K (Glassdoor est.)
$50K-$86K (Glassdoor est.)
$35K-$67K (Glassdoor est.)
$57K-$70K (Glassdoor est.)
$28K-$52K (Glassdoor est.)
$46K-$86K (Glassdoor est.)
$54K-$75K (Glassdoor est.)
$53K-$99K (Glassdoor est.)
$40K-$74K (Glassdoor est.)
$57K-$104K (Glassdoor est.)
$99K-$178K (Glassdoor est.)
$93K-$159K (Glassdoor est.)
$82K-$116K (Glassdoor est.)
$65K-$120K (Glassdoor est.)
$47K-$74K (Glassdoor est.)
$55K-$101K (Glassdoor est.)
-1
$32K-$56K (Glassdoor est.)
$36K-$67K (Glassdoor est.)
$57K-$67K (Glassdoor est.)
$49K-$91K (Glassdoor est.)
$57K-$100K (Glassdoor est.)
$78K-$104K (Glassdoor est.)


Rating
==============================
3.2
3.8
3.4
4.1
3.9
4.4
3.7
4.0
-1.0
3.0
3.6
4.9
3.3
3.5
5.0
4.8
4.7
4.6
2.9
1.0
3.1
4.5
2.3
4.2
2.8
4.3
2.7
2.5
2.6
2.4
2.0
2.1
1.7
2.2
1.8
1.6
1.9


Location
==============================
New York, NY
Fairfield, NJ
Jersey City, NJ
Brooklyn, NY
Weehawken, NJ
Long Island City, NY
Florham Park, NJ
Manhasset, NY
Newark, NJ
Queens Village, NY
Haworth, NJ
Fort Lee, NJ
South Plainfield, NJ
Bronx, NY
Little Ferry, NJ
Lake Success, NY
Summit, NJ
Valley Stream, NY
Berkeley Heights, NJ
Essex Fells, NJ
Franklin Lakes, NJ
Mount Vernon, NY
Secaucus, NJ
West Orange, NJ
Far Rockaway, NY
Woodbridge, NJ
Parsippany, NJ
Whippany, NJ
Great Neck, NY
Hoboken, NJ
Staten Island, NY
Harrison, NY
Iselin, NJ
Montvale, NJ
Woodcliff Lake, NJ
Salt Lake City, UT
West Jordan, UT
Lehi, UT
Draper, UT
American Fork, UT
Sandy, UT
Riverton, UT
Reedley, CA
Visalia, CA
Hanford, CA
Hampton, VA
Norfolk, VA
Portsmouth, VA
Chesapeake, VA
Smithfield, VA
Suffolk, VA
Newport News, VA
Virginia Beach, VA
Yorktown, VA
Fort Eustis, VA
Gainesville, FL
Alachua, FL
El Segundo, CA
Santa Monica, CA
Los Angeles, CA
Hermosa Beach, CA
Gardena, CA
Burbank, CA
Culver City, CA
Glendale, CA
Inglewood, CA
Venice, CA
Pasadena, CA
Cerritos, CA
Carson, CA
Irwindale, CA
Anaheim, CA
Beverly Hills, CA
Long Beach, CA
Northridge, CA
Alhambra, CA
Brea, CA
Duarte, CA
Woodland Hills, CA
Monterey Park, CA
Marina del Rey, CA
Arcadia, CA
Torrance, CA
Panorama City, CA
Signal Hill, CA
Azusa, CA
City of Industry, CA
Pico Rivera, CA
Whittier, CA
San Fernando, CA
Chicago, IL
Downers Grove, IL
Broadview, IL
Woodridge, IL
Burr Ridge, IL
Rolling Meadows, IL
Deerfield, IL
Northlake, IL
Northbrook, IL
Des Plaines, IL
Itasca, IL
Evanston, IL
Bridgeview, IL
Oak Brook, IL
Maywood, IL
Northfield, IL
Glenview, IL
Elk Grove Village, IL
Arlington Heights, IL
Houston, TX
Stafford, TX
Pearland, TX
Sugar Land, TX
Pasadena, TX
Spring, TX
Tempe, AZ
Phoenix, AZ
Scottsdale, AZ
Glendale, AZ
Chandler, AZ
Mesa, AZ
DC Ranch, AZ
King of Prussia, PA
Plymouth Meeting, PA
Blue Bell, PA
Fort Washington, PA
Philadelphia, PA
Wilmington, DE
Malvern, PA
Horsham, PA
Camden, NJ
Feasterville Trevose, PA
Radnor, PA
West Conshohocken, PA
Wayne, PA
Bensalem, PA
Exton, PA
Doylestown, PA
Allegheny West, PA
Paoli, PA
Chester Township, PA
Conshohocken, PA
West Chester, PA
Mount Laurel, NJ
Ridley Park, PA
Berwyn, PA
Newtown, PA
Newtown Square, PA
Boothwyn, PA
Norristown, PA
West Point, PA
Marlton, NJ
Moorestown, NJ
San Antonio, TX
Lackland AFB, TX
Fort Sam Houston, TX
San Diego, CA
National City, CA
El Cajon, CA
Plano, TX
Allen, TX
Arlington, TX
Dallas, TX
Richardson, TX
Irving, TX
Grapevine, TX
Lewisville, TX
Addison, TX
Tarrant, TX
Carrollton, TX
Southlake, TX
Coppell, TX
Farmers Branch, TX
Newark, CA
Santa Clara, CA
Redwood City, CA
Cupertino, CA
Fremont, CA
San Jose, CA
Menlo Park, CA
Palo Alto, CA
Mountain View, CA
Sunnyvale, CA
Los Gatos, CA
Stanford, CA
East Palo Alto, CA
Pleasanton, CA
Union City, CA
Milpitas, CA
Campbell, CA
Austin, TX
West Lake Hills, TX
Round Rock, TX
Cedar Park, TX
Jacksonville, FL
Fort Worth, TX
Roanoke, TX
Westlake, TX
Columbus, OH
Westerville, OH
Hilliard, OH
Dublin, OH
Charlotte, NC
Mooresville, NC
Huntersville, NC
Fort Mill, SC
Indian Trail, NC
San Francisco, CA
San Rafael, CA
San Mateo, CA
Oakland, CA
Berkeley, CA
Burlingame, CA
Foster City, CA
Marin City, CA
Daly City, CA
South San Francisco, CA
San Bruno, CA
Emeryville, CA
Novato, CA
Millbrae, CA
San Ramon, CA
Hercules, CA
Alameda, CA
Walnut Creek, CA
Carmel, IN
Indianapolis, IN
Whitestown, IN
Jeffersonville, IN
Beech Grove, IN
Lawrence, IN
Redmond, WA
Seattle, WA
Issaquah, WA
Kent, WA
Bellevue, WA
Renton, WA
Kirkland, WA
Athens, GA
Burlingame, KS
Topeka, KS
Denver, CO
Centennial, CO
Boulder, CO
Greenwood Village, Arapahoe, CO
Henderson, CO
Englewood, CO
Lakewood, CO
Lone Tree, CO
Louisville, CO
Aurora, CO
Broomfield, CO
Littleton, CO


Headquarters
==============================
New York, NY
McLean, VA
Stamford, CT
London, United Kingdom
-1
Bronx, NY
Phoenix, AZ
Rome, NY
Waltham, MA
Mountain View, CA
Marina del Rey, CA
Sydney, Australia
Warren, MI
Columbus, OH
San Francisco, CA
Pittsburgh, PA
Washington, DC
Seattle, WA
Newtown, PA
Piscataway, NJ
Charlotte, NC
Westmont, IL
West Hollywood, CA
Kyiv, Ukraine
Santa Monica, CA
Cherry Hill, NJ
Cleveland, OH
San Jose, CA
Burbank, CA
Chicago, IL
Sunnyvale, CA
Hauppauge, NY
Saint Louis, MO
Tampa, FL
Paris, France
Princeton, NJ
South Plainfield, NJ
Colorado Springs, CO
Atlanta, GA
New York, NY (US), NY
Fremont, CA
Los Angeles, CA
Plainsboro, NJ
Dublin, Ireland
Alexandria, VA
Irvine, CA
Irving, TX
Glen Allen, VA
Evanston, IL
San Mateo, CA
North Brunswick, NJ
Brooklyn, NY
Troy, MI
Yorktown Heights, NY
Northville, MI
Menlo Park, CA
Florham Park, NJ
Woodridge, IL
Armonk, NY
Lake Success, NY
Toronto, Canada
Lenexa, KS
Cincinnati, OH
Baltimore, MD
Burlington, MA
Pleasantville, NY
Singapore, Singapore
New Brunswick, NJ
Mumbai, India
Bethesda, MD
Dublin, OH
Bloomingdale, IL
Louisville, KY
Zurich, Switzerland
West Hartford, CT
Orlando, FL
Fort Lee, NJ
Somerset, NJ
Tarrytown, NY
Allentown, PA
Frisco, TX
Moore, OK
Newark, CA
Tokyo, Japan
Braga, Portugal
Little Ferry, NJ
Richmond, VA
Rockaway, NJ
Lanham, MD
Miami Beach, FL
Spring, TX
N New Hyde Park, NY
Durham, NC
Newark, NJ
Jersey City, NJ
Monmouth Junction, NJ
Edison, NJ
Rochester, NY
West Windsor, NJ
Memphis, TN
Dover, DE
Cranford, NJ
Herndon, VA
Fairfield, NJ
Santa Clara, CA
Duluth, GA
Buffalo, NY
Erdenheim, PA
Redwood City, CA
Calgary, Canada
King of Prussia, PA
Wellesley, MA
Holmdel, NJ
Iselin, NJ
Rolling Meadows, IL
New City, NY
Fairfax, VA
Mosta, Malta
Alpharetta, GA
Tuxedo Park, NY
Secaucus, NJ
Gibsonia, PA
Queens Village, NY
Boston, MA
LISBOA, Portugal
Parsippany, NJ
Shepton Mallet, United Kingdom
Westfield, IN
Southfield, MI
Hilliard, OH
West Orange, NJ
Albany, NY
Staten Island, NY
Durham, United Kingdom
Garden City, NY
Montvale, NJ
Plano, TX
South Salt Lake, UT
West Jordan, UT
Salt Lake City, UT
Dallas, TX
Morrisville, NC
Farmington Hills, MI
Sugar Land, TX
Raleigh, NC
Vaughan, Canada
Temple, GA
Greenwood Village, CO
Lehi, UT
Huntsville, AL
Springville, CA
City of Industry, CA
Cary, NC
Hampton, VA
Schaumburg, IL
Charleston, SC
Mc Lean, VA
Norfolk, VA
Wilmington, NC
Smithfield, VA
Chennai, India
San Diego, CA
Reston, VA
Yorktown, VA
Fort Monroe, VA
Chesapeake, VA
Arlington, VA
Virginia Beach, VA
Gainesville, FL
Jacksonville, FL
El Segundo, CA
Sterling, VA
Hermosa Beach, CA
South Jordan, UT
Culver City, CA
Burlingame, CA
Van Nuys, CA
Glendale, CA
Centennial, CO
Vancouver, Canada
Berwyn, PA
Venice, CA
Pasadena, CA
Easton, MD
Milton, WV
Melbourne, Australia
Houston, TX
Sherman Oaks, CA
Dana Point, CA
Los Gatos, CA
Sacramento, CA
Tarzana, CA
West Roxbury, MA
Seoul, South Korea
Austin, TX
Oakland, CA
Goleta, CA
Walnut Creek, CA
Sandy, UT
Long Beach, CA
Carson, CA
Bishnupur , India
Hyderabad, India
Overland Park, KS
Dayton, OH
Falls Church, VA
Brea, CA
Cupertino, CA
Williamsville, NY
Noida, India
Panorama City, CA
Danbury, CT
Alhambra, CA
Anaheim, CA
Radnor, PA
Cerritos, CA
Bolton, CT
Arcadia, CA
Taipei, Taiwan
Canoga Park, CA
Boca Raton, FL
Renton, WA
Santa Barbara, CA
San Clemente, CA
Whittier, CA
Rosemont, IL
Kennesaw, GA
Fort Wayne, IN
Langhorne, PA
Itasca, IL
Park Ridge, IL
Mount Prospect, IL
Aliso Viejo, CA
Hanover, MD
Gardena, CA
Muscatine, IA
Berea, OH
East Thetford, VT
KIRKLAND, Canada
Ottawa, Canada
New Haven, CT
South Holland, IL
Millersville, MD
Detroit, MI
Deerfield Beach, FL
Philadelphia, PA
Northlake, IL
Bridgeview, IL
Oak Brook, IL
Saint Paul, MN
Burr Ridge, IL
Encinitas, CA
Norcross, GA
Livonia, MI
Northfield, IL
Glenview, IL
Iowa City, IA
Lincolnshire, IL
Deerfield, IL
Elk Grove Village, IL
Salisbury, NC
Des Plaines, IL
Clinton, MD
Stafford, TX
Ridgeland, MS
Pearland, TX
Upland, CA
Stans, Switzerland
Stavanger, Norway
Orem, UT
Bengaluru, India
Arlington Heights, IL
Cypress, TX
Greenville, SC
Nashua, NH
Fort Knox, KY
Carrollton, TX
Newport, RI
Lombard, IL
New York, 061
Lake Jackson, TX
Wayne, PA
Scottsdale, AZ
Carlsbad, CA
North York, Canada
Anchorage, AK
SUNDERLAND, United Kingdom
Tempe, AZ
Portland, OR
Chandler, AZ
Canton, MI
Springfield, MO
Sanford, VA
Reno, NV
Malvern, PA
Bellevue, WA
Nashville, TN
Metuchen, NJ
Honolulu, HI
Moon Township, PA
Cranbury, NJ
Fort Lauderdale, FL
Santa Ana, CA
South Portland, ME
Edmonton, Canada
Chantilly, VA
Woonsocket, RI
Plymouth Meeting, PA
Blue Bell, PA
Phila, PA
Vienna, VA
Basking Ridge, NJ
Warrington, United Kingdom
Smithfield, RI
West Conshohocken, PA
Salem, NH
Princeton Junction, NJ
Whippany, NJ
Harleysville, PA
Doylestown, PA
Audubon, PA
Farmington, CT
West Chester, PA
Middleton, WI
Mount Laurel, NJ
Chadds Ford, PA
Linthicum, MD
Miami, FL
Brentford, United Kingdom
Sparta, NJ
Luxembourg, Luxembourg
Camden, NJ
Ashburn, VA
Milwaukee, WI
Abingdon, United Kingdom
Highland Park, IL
Schaffhausen, Switzerland
Plainfield, NJ
San Antonio, TX
Newport News, VA
Annapolis, MD
Rusk, TX
Tysons, VA
Kotzebue, AK
Catoosa, OK
La Jolla, CA
Mechanicsburg, PA
Fenton, MI
Millbrae, CA
Hagerstown, MD
Franklin Lakes, NJ
Towanda, PA
Boulder, CO
Germantown, MD
El Cajon, CA
Maryland Heights, MO
Stafford, VA
Richardson, TX
Bezons, France
Nokia, Finland
Hastings, MN
Rockville, MD
Norwalk, CT
Red Bank, NJ
Yakima, WA
Grapevine, TX
Utica, MI
Arlington, TX
Addison, TX
Winnebago, NE
Mobile, AL
Towson, MD
Warwick, United Kingdom
Flower Mound, TX
Fort Worth, TX
Madison, WI
Annapolis Junction, MD
Southlake, TX
McKinney, TX
Ann Arbor, MI
Lisle, IL
Tallassee, AL
Aberdeen, United Kingdom
Fort Smith, AR
Campbell, CA
Palo Alto, CA
Rio de Janeiro, Brazil
Natick, MA
Pleasanton, CA
Morristown, NJ
Walldorf, Germany
Stanford, CA
Hoboken, NJ
North Chicago, IL
Santa Cruz, CA
Elk Grove, CA
Union City, CA
Brentwood, TN
Milpitas, CA
Gardanne, France
Acton, MA
Lawrenceville, NJ
Denver, CO
Hoover, AL
Nicosia, Cyprus
Allegan, MI
Cedar Park, TX
Gainesville, VA
Amsterdam, Netherlands
Macquarie Park, Australia
Mount Pleasant, SC
Bradenton, FL
Frankfurt am Main, Germany
Des Moines, IA
Eclepens, Switzerland
Providence, RI
Grand Prairie, TX
Tulsa, OK
Roanoke, TX
Portsmouth, NH
New Albany, OH
Bonn, Germany
Abbott Park, IL
Old Bridge, NJ
Coral Gables, FL
Bridgewater, NJ
Huntersville, NC
Fort Mill, SC
Benicia, CA
Indian Trail, NC
Arden, NC
Cornelius, NC
Mooresville, NC
Hickory, NC
San Rafael, CA
New Delhi, India
Guaynabo, PR
Foster City, CA
Berkeley, CA
Columbia, MD
Marin City, CA
Concord, CA
San Ramon, CA
Brentwood, CA
Emeryville, CA
East Brunswick, NJ
Chesterfield, MO
Keswick, VA
South Windsor, CT
Minneapolis, MN
Vienna, Austria
Hercules, CA
Faridabad, India
South Melbourne, Australia
South San Francisco, CA
Pleasant Hill, CA
Worthington, OH
Carmel, IN
Wilmington, DE
Indianapolis, IN
Feusisberg, Switzerland
Edmond, OK
Mishawaka, IN
Moosic, PA
Redmond, WA
Issaquah, WA
Burnsville, MN
Kent, WA
Kyoto, Japan
Tigard, OR
Athens, GA
Cooper City, FL
Gilbert, AZ
Louisville, CO
Lakewood, CO
Rochester, MN
Monroe, LA
Lakeland, FL
Aurora, IL
Beaverton, OR
West Des Moines, IA
West Chester, OH
Broomfield, CO


Size
==============================
201 to 500 employees
10000+ employees
1001 to 5000 employees
501 to 1000 employees
5001 to 10000 employees
1 to 50 employees
51 to 200 employees
Unknown
-1


Founded
==============================
1961
1893
2003
2002
2009
2014
2001
1914
1896
2013
1841
-1
1884
2004
2016
1996
1958
2006
1998
1969
2011
2017
2005
1904
2018
1956
2007
1990
1923
2015
1951
1981
2000
1966
1939
1999
1812
1945
1985
1984
1962
1995
2012
1967
1799
1918
1948
1994
1895
1845
1968
2008
1911
1997
1832
1934
1938
1963
1992
1977
1886
1862
1906
1993
1935
1971
1989
1859
1946
1818
1932
1784
1856
1978
1912
1957
1937
1982
1964
1850
1983
1869
1947
1868
1936
1853
2010
1902
1944
1888
1880
1973
1931
1987
2019
1919
1979
1954
1980
1976
1872
1926
1991
1855
1959
1986
1890
1882
1883
1837
1817
1908
1988
1965
1828
1889
1898
1928
1913
1901
1916
1857
1955
1949
1970
1822
1972
1864
1975
1960
1885
1922
1740
1830
1887
1974
1905
1953
1952
1897
1865
1921
1867
1933
1874
1891
1807
1870
1892
1852
1698
1924
1907
1682
1875
1917
1876
1785
1909
1789
1930


Type of ownership
==============================
Nonprofit Organization
Company - Private
Subsidiary or Business Segment
Company - Public
Hospital
Unknown
Contract
-1
Government
School / School District
Other Organization
College / University
Self-employed
Private Practice / Firm
Franchise


Industry
==============================
Social Assistance
Health Care Services & Hospitals
Internet
IT Services
Sports & Recreation
Investment Banking & Asset Management
Insurance Carriers
Venture Capital & Private Equity
Research & Development
-1
Advertising & Marketing
Brokerage Services
Building & Personnel Services
Consulting
Casual Restaurants
Enterprise Software & Network Solutions
Lending
Banks & Credit Unions
Computer Hardware & Software
Staffing & Outsourcing
Motion Picture Production & Distribution
Legal
Real Estate
Federal Agencies
TV Broadcast & Cable Networks
Accounting
Food & Beverage Stores
Health, Beauty, & Fitness
Biotech & Pharmaceuticals
Insurance Agencies & Brokerages
Gambling
Video Games
Colleges & Universities
Architectural & Engineering Services
General Repair & Maintenance
Security Services
News Outlet
Commercial Equipment Repair & Maintenance
Publishing
Energy
Other Retail Stores
Health Fundraising Organizations
Utilities
Consumer Products Manufacturing
Municipal Governments
Electrical & Electronic Manufacturing
Industrial Manufacturing
Preschool & Child Care
Aerospace & Defense
Food & Beverage Manufacturing
Vehicle Dealers
Telecommunications Services
Construction
Financial Transaction Processing
Beauty & Personal Accessories Stores
Automotive Parts & Accessories Stores
Chemical Manufacturing
Department, Clothing, & Shoe Stores
K-12 Education
Transportation Management
Miscellaneous Manufacturing
Logistics & Supply Chain
Catering & Food Service Contractors
Health Care Products Manufacturing
Drug & Health Stores
Wholesale
Membership Organizations
Oil & Gas Services
Sporting Goods Stores
Gas Stations
Truck Rental & Leasing
Express Delivery Services
Cable, Internet & Telephone Providers
Metals Brokers
Grocery Stores & Supermarkets
Pet & Pet Supplies Stores
Education Training Services
Financial Analytics & Research
Audiovisual
Transportation Equipment Manufacturing
Convenience Stores & Truck Stops
Consumer Product Rental
Consumer Electronics & Appliances Stores
State & Regional Agencies
Trucking
Stock Exchanges
Home Centers & Hardware Stores
General Merchandise & Superstores
Hotels, Motels, & Resorts


Sector
==============================
Non-Profit
Health Care
Information Technology
Arts, Entertainment & Recreation
Finance
Insurance
Business Services
-1
Restaurants, Bars & Food Services
Media
Accounting & Legal
Real Estate
Government
Retail
Consumer Services
Biotech & Pharmaceuticals
Education
Construction, Repair & Maintenance
Oil, Gas, Energy & Utilities
Manufacturing
Aerospace & Defense
Telecommunications
Transportation & Logistics
Mining & Metals
Travel & Tourism


Revenue
==============================
$100 to $500 million (USD)
$2 to $5 billion (USD)
Unknown / Non-Applicable
$50 to $100 million (USD)
$1 to $2 billion (USD)
$5 to $10 billion (USD)
$1 to $5 million (USD)
$25 to $50 million (USD)
$10+ billion (USD)
Less than $1 million (USD)
$10 to $25 million (USD)
-1
$500 million to $1 billion (USD)
$5 to $10 million (USD)

### Replace Values to NaN

In [7]:
df = df.replace(['-1', '-1.0', -1, 'Unknown', 'Unknown / Non-Applicable'], np.nan)
disp_unique_col_val(df.columns)

Job Title
==============================
Data Analyst, Center on Immigration and Justice (CIJ)
Quality Data Analyst
Senior Data Analyst, Insights & Analytics Team [Customer Operations]
Data Analyst
Reporting Data Analyst
Business/Data Analyst (FP&A)
Data Science Analyst
Data Analyst, Merchant Health
DATA ANALYST
Senior Data Analyst
Investment Advisory Data Analyst
Sustainability Data Analyst
Clinical Data Analyst
DATA PROGRAMMER/ANALYST
Product Analyst, Data Science
Data Analyst - Intex Developer
Entry Level / Jr. Data Analyst
Data + Business Intelligence Analyst
Data Analyst, Product
Data Analyst Entry Level
Data Science Analyst, Capital Markets
Data Analyst (Games)
Analyst/Associate Global Markets Credit Data Analyst
Data Business Analyst
Data Analyst with Excel/DAX/ PowerBI experience- Fulltime
Data Science Analyst/Engineer
Business Analyst, Data Platforms
Behavioral Data Analyst
Data Analyst -1+ year Contract - NYC
Advertising Data Analyst
Market Data Reporting Analyst
Senior Analyst, Data Science
Senior Data Analyst, Disney+
Office of the CAO | Reference Data, Project Manager/Business Analyst
Business Data Analyst
Data Scientist / Big Data Analytics Analyst
Data Reporting Analyst
Principal Data Analyst, LATAM - Disney Streaming Services
Data Analyst II
Data Analyst - Environmental, Social, and Governance
Data Analyst, Revenue Analytics
Data Analyst - Data Acquisition / Data Lineage
Data Analyst - Data Scanning utilizing Rochade
Data Analyst - Stitching
Junior Data Analyst
Data Analyst, Retail Media
Portfolio Data Analyst
Data/Reporting Analyst
Data Analyst 2
Entry Level Data Analyst
Marketing Data Analyst
Data/Information Mgt Analyst
Information Systems Officer (Data Analyst)
Media Science Big Data Analyst
Data analyst with Python
Healthcare Data Analyst, Qsight
BA/Data Analyst
Data Analyst Python
Data Analyst, Bitcoin Trading Firm
Data Analyst-BA
Data Analytics Solutions Analyst
Quantitative Data Analyst
Descriptive Analytics Data Analyst, IB
Healthcare Data Analyst
Supply Chain Data Analyst
Data Analyst - IBM Tool Set
Analyst-Data Integrity
Reference Data Operations Analyst - Index Instrument, Associate
Data & Service Health Analyst
Data/Systems Analyst
Data Analyst Intern
Data Analytics Analyst or Associate, Cowen Sustainable Investments
ERP Data Analyst
Healthcare Data/Reporting Analyst
PBM Data Analyst
Data Analyst (Temporary Assignment)
Market Data Analyst
Microsoft Dynamics CRM Data Analyst
Practice Analyst Data
Buyside - Data Scientist/Research Analyst
Data Analyst - Healthcare Provider Networks and Formularies
Electronic Trading Data Analyst
Data Analyst, Center for Developing Brain
Data Processing & Performance Analyst
Business Analyst - Data Analyst
Data Analyst with Rochade
Product Analyst - Data
Market Research Data Analyst - Physician Technology
Look ML Data Analyst
Data Collection Analyst
DATA ENTRY/ BILLING ANALYST
Student Persistence Initiative Data Analyst/Scientist
Data Quality Analyst
Data Governance Analyst
Sr. Business Intelligence Engineer / Data Analyst
Data Analyst I - Geriatrics and Palliative Care
Data Analyst/Rochade
Data Analyst II, Division of Gastroenterology (Research)
Data Analyst, Student Success Program
Big Data QA Analyst with Jupyter notebook
Analyst, Data Centers Industry
Financial - Data Analyst
Data Analyst with Data Scanning and Profiling
Business Analyst - Data Governance
Senior Data Analyst - Health Economist
Lead Data Insights Analyst
Research Analyst (Data Science)
Data Management Analyst
Business Analyst / Data Analyst
Sr. Data Profiling Analyst
Sr. Data Analyst, Revenue Analytics, Peacock
Senior Data Analyst - Data Cataloging / Data Profiling
Data/Report Analyst
Human Capital Data Analyst
GIS Data analyst
Junior Data Analytics Solutions Analyst
Data Analyst w/Capital Markets
VP, Research Project Analyst/Data Management
Food Data Analyst
Data Analyst, Enterprise Analytics
Data Analytics Solutions Analyst - Mid with Security Clearance
Data Analyst Assistant
Investment Management Summer Analyst Program - Office of COO: Data & Analytics
Sr Business /Data Analyst- Reference data
SENIOR DATA ANALYST
Senior Data Analyst / Scientist
Senior Data Analyst - Regulatory Reporting
Senior Data Analyst (6-12 Month Contract-Remote)
Principal Data Analyst, LATAM – Disney Streaming Services
Data Analyst- Win 10 Migration- NYC
Data Analyst (35 hours/week)
Tech Business/Data Analyst
Senior Data Analyst, Financial Services
Enterprise Data, Financial Data Analyst - Content Design Specialist Contractor
Data Remediation Analyst-EK020719A/JL
Business Analyst - Chief Data Office
Senior Analyst, Data Instrumentation & Quality (Disney+)
Sr. Data Analyst
Big Data Programmer Analyst
Lead Data Analyst
Client Service Data Analyst
Financial Data Analyst - Accounting - D3529
Data / Business Analyst (SQL/Tableau)
Data Processing & Performance Analyst New York, NY
Data Analyst-Junior Profiles also works-Only NY/NJ Candidates Please on w2 Only
Business Analyst-Market Data
Content Analyst/Data BA-Bus/Tech Strategy - Investment Bank
Senior Analyst, AB Testing and Data Operations
Data Warehouse Analyst
Senior Business and Data Analyst
Lead Generation Data Analyst
DnA Ambassador (Clinical Business Analyst - Level 1), Data & Analytics/Re-post
Data Analyst I - Genetics & Genomic Sciences
Data Reporting Analyst III
Reporting Analyst Data Analyst
Data Analyst - CBCH
Principal Data Analyst, LATAM Disney Streaming Services
Data Engineer/Data Analyst
Technical Business/Data Analyst
CRM Data Performance Analyst
eCommerce Data Analyst
Senior Data Analyst - Rochade
Financial Data Analyst
2021 Summer Analyst Program- Data & Analytics Solutions
Data Analyst - QC
People Operations & Data Analyst
Lead Data Analyst (Product)
Data Analyst - III
SQL Data Analyst
Epic Data Intelligence Analyst
JPSC-8461 - Position: 13,52,53 Data Analyst
Data Analyst - Analytics/SQL
Data Analyst-Excel
Data Remediation Analyst
Data Analyst with Python or Python developer
Data Entry Clerk / Data analyst
Senior Analyst, Data and Insights (Wirecutter)
ETL Developer / Data Analyst
Data Analyst with Python
Data Analyst/Project Manager
Analyst Business Data
Sr. Datastage and Data Analyst
Programmer Data Analyst
Consumer Lending Data Analyst
Encounter Data Analyst
Business Analyst/PM/Data Analyst - Investment Bank
Healthcare Analyst, Claims/Encounter Data
TX Healthcare Data/Reporting Analyst
Senior Specialist Data Analyst
SQL Report Developer Data Analyst
Data Analyst,, Sales Operations - Oracle Data Cloud
Data Analyst - Machine Learning
Senior Analyst, Data Analytics
Senior Data Analyst (Product)
Technical Data Analyst
Senior Analyst, Customer Master Data
Data Analyst II - Division of Endocrinology
Sr. Reference Data Business Analyst - SQL
Data Analyst - Actuarial Background
Data Management Analyst (ADDM04) SEC SVCS OPS DATA GOVERNANCE - NA
BA With Data Analyst Skills
Data & Reporting Analyst, GNHCC
Principal Business Analyst - Data Governance
Business Analyst/Data Analyst - Capital Markets
.net, sharepoint, Java, Data analyst, Business Analyst
ETL Datastage Developer/IBM Infosphere Datastage Consultant(ETL Data Analyst)-Only NY/NJ candidates Please
Solar Data Analyst
Data Science Lead Analyst
Remote: Data Analyst (Data Lineage, Financial industry)_Long term
Data Management, Firmwide Data Quality, Analyst
Compensation and Data Analyst (Human Resources)
NY Healthcare Data/Reporting Analyst
Big Data QA Analyst / QA Tester / Test Analyst
Senior Supply Chain Data Analyst
Data Analyst, Capital Markets (Manager)
Analyst, People Operations & HR Data
CIB F&BM Global Program Management EMEA - International Regulatory - Data Provisioning Business Analyst - Associate
Business Data Analyst (Financial Services)
Senior IT Technical Data Analyst
Data Analyst/Data Acquisition Speciliest with Financial Industry Exp
Data Analyst/Data Scanning with Financial Industry exp
Sr Business Analyst, Data Science
Senior Data Analyst - Data Governance
Senior Manager, Data Analyst
Senior Business Intelligence & Data Science Analyst
Risk Adjustment Data Analyst
Data Analyst III
Sr. Data Analyst, Retail Media
Sr IT Technical Data Analyst
Senior Marketing Data Analyst
Senior SQL Data Warehouse Analyst
Data Analyst Junior
SR. Power BI with DAX - Data Analyst
Informatica IDQ - Data Quality Analyst (Contract)
Senior Solutions Analyst, Data Specialist
Operations data analyst
HR Data Analyst
Healthcare Senior Data Analyst - HEDIS
Senior Data Quality Analyst
Financial Data Analyst - Accounting ll
Data Analyst - Litigation
Quantitative Data Analyst/Developer
Sr Business Data Analyst SAP, SKU, Supply Chain
Senior Data Analyst, Gas Planning and Design Engineering
Data Analyst - Cardiac Cath Lab
Senior Data Business Analyst
Business Analyst/Data Analyst - Capital Markets Data
Firmwide Reference Data Operations, Pricing Operations, Analyst
Senior Healthcare Data Analyst
Data Analyst, Quality & Patient Safety
Senior Data Analyst - FHC - Family Support Center
QA Data Analyst
Sr Data Analyst for Customer Based Management
Data Analyst/Project Manager in Jersey City, New Jersey | Careers at Harborside
Senior Financial Analyst - Enterprise Data
Data Analyst with Data Lineage/Rochade
Senior Market Data Content Acquisition/Procurement Analyst
Sr. Specialist Reporting Data Analyst /Engineer - Cloud
Senior Business Analyst, Data Management
Data Science Analyst II - Mount Sinai Health Partners
Technical Business Analyst with Retail Banking and Large Data Program
Principal Sales Operations Analyst - Oracle Data Cloud
QA Production Data Analyst
JPSC-7462 - Data Analyst Lead - Sr. Tableau Lead
Data Services Lead Analyst
Sr Data Analyst, Go-Live
Data Analyst III- SAS req'd
Regulatory Risk Management Data Analytics and Reporting Analyst
Specialist, Data and Reporting Analyst - IT Change Management
Datastage Developer/Consultant/IBM Websphere Datastage Developer(ETL Data Analyst)-Only Local to NY/
Data Warehouse systems analyst
Sr. Data Analyst - RWE
Data Migration Lead/ Analyst (migration of data to the new target system)
Senior Data Analytics Solutions Analyst
Technical Analyst - Access/Identity Data Security
Data Quality Management Analyst
Business Analyst (SQL/SQL TOAD, Excel, XML, X12, HL7 messaging, data quality analysis)
Senior Teradata Developer / Data Analyst
Data & Interface Analyst
Data Analyst (Must have PL/SQL and Healthcare background)
Data Analyst / IT Data & Business Intelligence
Sr. Specialist Reporting Data Analyst -Technology
Sr. Programmer Analyst - Big Data
Data Analyst â Junior
Sr. Principal Metrics Analyst- Data Scientist
Product & Pricing Data Analyst
SAP Data Analyst
Senior Data Analyst (E-commerce, Marketing)
Clinical Data Designer (Sr. SDTM Programmer/Analyst)
Senior Data Analytics Solutions Analyst with Security Clearance
JPSC-7176 - Position 35, 59, 62, 100,101,102, 141,142,166 : Senior Data Analyst
Senior Billing Data Analyst
Master Data Analyst
Senior Functional Analyst SAP Data design, SD/MM/PP
Data Engineer / Data Analyst
Data Analyst : 20
Data Intelligence - Product Data Quality Analyst (DE - RefData) - Data as a Service
Data Engineer/Data Analyst (REMOTE/Eventually Onsite)
Data Engineer/Analyst
Technical Data Analyst/Architect
Data Governance Analyst II
Big Data Analyst
Data Analyst at Salt Lake City, UT
Data Scientist/Analyst - Noke
Data Analyst - W2 candidate
Marketing Coordinator / Data Analyst
Special Operations (LREC) Incentives and Proficiency Data Analyst
a. Senior Data and Business Analyst
Fund Data Analyst
Sr Python Data Analyst(no c2c) contract w2 only
Data Analyst, District Office - Accountability Office
Data Analyst (Kings County)
Tactical Data Link (TDL) Analyst
Jr Data Analyst
Finance Data Analytics Analyst
Business Intelligence/Data Analyst with Security Clearance
Research & Data Analyst
Metrics & Data Analyst
Tactical Data Link (TDL) Analyst-
Senior Data Analyst- Secret Clearance-
HQ Data Analyst
USMTF Data Analyst
Mid Data Analyst
Product Data Business Analyst
Retail Data Quality Analyst
USMTF Data Analyst with Security Clearance
Senior Data Strategy Analyst (SDSA)
Data Analyst - Va Beach - VA with Security Clearance
Configuration and Data Management (C&DM) Analyst
Jr Management Analyst (Data Management)
Sr Data Business Analyst - FacilitySource
Acoustics Data Analyst/Flight Test Engineer
Senior Data Analyst- Secret Clearance
Senior Data Management Analyst (SDMA)
Data Analyst - Senior Consultant
Data Warehouse Programmer/Analyst
Data Analyst (Navy) - Mid and Junior Level
Data Analyst - Senior Consultant - Norfolk, VA with Security Clearance
Program Analyst - AIS/Maintenance Data System Coordinator
MSC Logistics Data Analyst
Data Analyst (Navy) - Mid Level
Business Intelligence & Data Analyst
Senior Data Analyst (Navy)
NIWC Service Desk Analyst Component Enterprise Data Center (CEDC with Security Clearance
NIWC Service Desk Analyst Component Enterprise Data Center (CEDC).
AvMed Data Governance Analyst
Data Management Analyst II
IT Analyst III Data Systems
Product Data Analyst
Data Analytics Insights Analyst
Product Data & Insights Analyst
Survey Data Analyst
Data and Policy Analyst - Statistical Programmer
Senior Data Analyst, Marketing
Senior Database Analyst - Data Warehouse
Data Analyst – Finance
Data and Reporting Analyst
Advanced Data Analytics Analyst
Senior Data Intelligence Analyst
Sr. Data Analyst, Consumer Applications
Senior Data Analyst, Data Insights
Workday Technical Analyst- Data Conversions
Data Analyst Healthcare - Experienced or Entry Level
Woocommerce Data Governance Analyst
Analyst, Data Operations
Data Analyst (Apex Legends)
Data Intelligence Analyst II ( Epic Certification Required )
Sr Analyst, Data Operations
Data Analyst (Ryan White)
Data System Analyst I, LACERA (Senior Java Developer)
Data and Policy Analyst - Writer/Coordinator
Sr. Data/Report System Analyst
Equity Data/Research Analyst
Data Analyst - (Python)
Data Analyst / Developer
Data Analyst I
Billingual Chinese - Data Analyst
Public Policy Data Analyst
Epidemiologist Data Analyst-Urology
Data Systems Analyst
Data Analyst, Predictive Analytics
Mid-Senior Data Analyst
Associate Player Support Data Analyst
BI/Data Analyst
Sr. Data Analyst, Ad Operations
Customer Insights Manager, Senior Data Analyst | Mobile
Research Sr. Data Analyst - Kaiser Permanente Bernard J. Tyson School of Medicine
Senior Business Technology Analyst - Big Data (Los Angeles area, CA)
Enterprise Data Quality Analyst - EDM
Data Analyst/SQL/Healthcare Or Medical OR Clinical
Data Analyst Manager
Enterprise Data Analyst
MEDIA DATA ANALYST
Data Analyst - Personalization
Data Systems Analyst III
Senior Data Bi Analyst
Operations Analyst, Data Governance
Analyst, Data (Pharmacy & SQL)
Sr. Business Analyst, Data Science and Analytics
Marketing Data Analyst, Teleflora
Senior Customer Data Analyst : 20
REMOTE Data Analyst - POWER BI+MONGO+ DAX EXPERIENCE
Senior Data Analyst - User Growth
Automotive Data Analyst
Data Analyst - Product
Sr. Analyst, Data
Senior Data Insights Analyst
Bilingual (Chinese) Data Analyst
Systems and Data Analyst - SQL
Data Entry Analyst
Data Intelligence Analyst II
Business Analyst / Data Analyst with Financial Industry Experience
Investment Reporting Data Analyst
Jr. Data Analyst (Jr. DA)
Sr. Business Data Analyst
Pricing Data Analyst
Senior Data Engineer & Analyst
Principal Data Management Analyst
Sr Data Analyst (DW)
Digital Media Data Analyst, Apple TV+
Data Intelligence Analyst
Data Technician/Analyst/Specialist
Research Data Analyst
【1yr OPT+Intern】Data Analyst 保实习保就业
Heightened Standards Data Analyst
Corporate: Data Analyst
Sr Data Analyst
Data Analyst I- ON SITE POSITION
Analyst, Data
Credit Data Analyst
Sr Performance Metrics Data Analyst
SENIOR DATA BI ANALYST
Data Analyst - MS Access & Excel
Data Analyst (Asset Management / eDiscovery)
Jr. Data Analyst
Data Analyst - Health, Experienced
Product/Data Analyst
Data Analyst-Cerritos, CA
Digital Marketing Data Analyst
Student Data Compliance Analyst
Data Quality Control Analyst
Senior Data Management Analyst
Data Analyst HEDIS Star
SAP Master Data Analyst
Service Operations Data Analyst
System and Data Analyst
Business Analyst Asset Data Management
Sr Digital Marketing Data Analyst (PAID SOCIAL)
19-0574 - Service Operations Data Analyst
Discovery Data Analyst
Analyst, Financial Master Data
Data Analyst-HEDIS & Star
Music Copyright Data Analyst
Sr. Data Governance Analyst
Data Analyst - Health, Senior
Data Entry Clerk and Analyst - Financial
Senior Clinical Data Analyst
Sr. Data Analyst (Pharmacy)
Sr Analyst, Data
Systems and Data Analyst
Copyright Data Analyst
LIMS Master Data Analyst
Data Analyst *Temp-Hire*
QM DATA ANALYST II, WHITTIER, FULL TIME DAYS
Radar Telemetry Data Analyst - RT
Sr. Data Analyst — US Safety
Data Analyst - Marketing Analytics
Radar Telemetry Data Analyst
Data Transformation Analyst
Urgent Need - Data Analyst
Business Systems & Data Analyst
Healthcare Data Analyst - Remote
Data Analyst (Junior)
Associate Marketing Data Analyst
Outsights Data Analyst
Data Analyst - Excel
Data Integrity Analyst
Data Analyst - IntelliScript
Reporting and Data Analyst - (North American Collections Analytics for Data and Analytics)
Manufacturing Data Analyst
Public Health Data Visualization Analyst
Data Operations Analyst
Provider Analytics Data Analyst
CSI Data Analyst
Senior Data Analyst, Business Intelligence
Data Analyst - Rush Infectious Diseases
Fair Lending Data Analyst
Senior Research Data Analyst
Data Analyst, Operations Engineering
Data Analyst, Tax (Affordable Care Act) (ACA) (Manager) (Multiple Positions)
BI Data Analyst
Tableau Developer/Data Analyst
Data Analyst – Level II
Senior Trading Systems Data Analyst (Chicago or NY)
Data Analyst/Programmer
Data Services Business Analyst 2
Call Center Data Analyst
Data Analyst - 20
Senior Global Data Analyst / Power BI Dashboard Developer
Logistics Data Analyst
Data Production Analyst
SAS Data Analyst
Manufacturing Data Analyst - Woodridge, IL
Visiting Undergraduate Affairs Data Analyst - Office of the Vice Provost for Undergraduate Affairs & Academic Programs
Contract Analyst - Enterprise Market Data
Marketing Data Analyst - CPG
IT Risk and Compliance Data Reporting Analyst
Data Analyst / Business Lead Generation Specialist [Part-Time]
JPSC-5704 - Data Analyst
Workforce Data Analyst
Data Analyst-IT III
Sr Analyst, Distrib Data Eng
Data Analyst (Supply Chain) - May Reside Anywhere in the US - Up to 100% Travel
SAS Data Analyst/Reports Writer
Data Scientist - Sr. Analyst
Clinical Practice Data Analyst Specialist (Clinical Research Data Manager) - Mile Square Main
QA Analyst - DATA Base Exp
Philanthropy Operations Associate - Data Analyst
Financial Systems Lead Data and Reporting Analyst
Data Entry and compliance Analyst
Senior Data Analyst Informatics
ERP Data Migration Analyst in Glenview, IL at Signode
Data Security Analytics Analyst
Clinical Practice Data Analyst Specialist (Clinical Research Data Manager) Mile Square Main (Job ID
Data Analyst IV
Sr. Data Analyst - Analytics, Marketing, CPG
SAP Data Management Analyst
Senior Marketing Data Analyst (Real Estate)
Logistics Data Analyst II
Senior Data Analyst - Informatics
Data Quality Analyst-Product Content Specialist
Technical Web Data Collection Analyst
Sr. Sales Operations & Data Analyst
Sales Data Analyst
Senior data analyst
Data Analyst (MPI)
Senior Data Analyst, Sales
Sr. BI Data Analyst / QlikSense
Data Governance and Analytics Analyst
R & Python / Sr. Information Data Analyst
Clinical Practice Data Analyst Specialist
Sr. Business Analyst Data Privacy
SAS Analyst / Data Analytics /Sr. information Data Analyst
Analyst IV Systems - Data Engineering
Data Analyst Alteryx Experience MUST
Business Systems Analyst III - Data Engineering(Lead Product Owner)
Sr. Data Governance Business Analyst
Data Scientist Sr. - Conversation Designer & NLP Analyst
Data analyst with Bigdata
Cost Data Analyst
Data Analyst, Reporting
Product and Data Analyst
Analyst, Data Mgmt / Quant Analysis
Data Analyst & Healthcare Analytics

Data & Reporting Analyst, Distribution Planning & Operations
Epidemiologist - Data Analyst
Contract Data Analyst
Epidemiology Data Analyst
Data Business Solutions Analyst
Risk Data Analyst
Epidemiology/Data Analyst, San Antonio, TX, US, ID
Senior Data Science Analyst
Data Analyst ( SAS,SQL)
Data Analyst - Top Secret w/ SCI Eligibility
Epidemiology/Data Analyst
Data Security Analyst
Data Analyst/Engineers
Senior Contract Data Analyst
IT Data Science Analyst
Configuration Data Analyst, (Secret Clearance Required) San Antonio, TX, US ID
TECHNICAL DATA ANALYST
Configuration Data Analyst, (Secret Clearance Required) San An with Security Clearance
Senior Risk Analyst-Data
Functional Analyst (CECL Data)
Data Analyst with Security Clearance
Configuration Data Analyst, San Antonio, TX, US ID#17897 with Security Clearance
(REMOTE) Sr. Risk Analyst (IT, IS and/or Data expertise)
Sr. Risk Analyst (IT, IS and/or Data expertise)
Navy Maintenance Data Systems Analyst
Division Data and Financial Analyst
Data Analyst 3
Data Analyst - VerityStream
Business Data Analyst (SQL / Tableau)
Data & Business Intelligence Analyst
Fleet Optimization Data Analyst (Solar + Storage)
Data Steward/Configuration Analyst
Administrative Assistant / Data Analyst Supporting the DEA #20-318
Data Manager - Bioinformatics Analyst (Naval Health Center)
Data Privacy Analyst
Data Analyst 3 (San Diego or Atlanta, GA)
Research Scientist, Structural Biologist - CryoEM Data Analyst
Systems Analyst - Data Integration and ETL process
Senior Consulting Data Analyst
#105009 Research Data Analyst
Automotive eCommerce Data Analyst - Remote
Senior Technical Data Analyst
Senior Business Data Analyst
Automotive eCommerce Data Analyst
SWRMC Assessments Junior Data Analyst
Business Data Analyst III
C4I Data Analyst/Engineer
Molecular Researcher and Data Analyst
Health Data Analyst IV
Information Security and Data Privacy Analyst
IT DATA ANALYST- Information Technology
7232 Data Engineer (Analyst/Programmer - Career), Information Technology DevOps
Systems Analyst - Data Integration
Data Analyst - EDSS
#104252 Division Data and Financial Analyst
Senior Financial Data Analyst
Sr. C4I Data Analyst/Engineer
Senior Tactical Data Link Systems Analyst
Data Conversion Analyst
Data Analyst - Retail (Entry Level)
Data Analyst - Healthcare Fraud
Data Analyst BHJOB11946_
Data Science - Analyst/Associate - Security Incident Response Team
Game Data Analyst
Analyst, Data Intelligence
HR Data Analyst II
Data Science – Analyst/Associate - Security Incident Response Team
IGNITE Graduate Development Program - Application Developer / Data Scientist / Business Analyst
Data Analyst (HR)
Data Analyst (SQL, Tableau)
DATA ANALYST TEAM — Data Analyst
Data Analyst (Product Analytics)
Performance Improvement Data Analyst
DALLAS Campus Recruiting 2018 - I&D - Data Analyst
Analyst, Data & Design
Analyst I, Data & Design
Client Data Analyst
IGNITE Graduate Development Program Application Developer / Data Scientist / Business Analyst
System/Data Analyst
Sr Data Integrity Analyst
Data System Analyst
RAPD Risk Platforms & Data - Analyst
Business Analyst/Data Consultant
Data Analyst - Contract Renewals
Analyst Supply Chain I Data Management
Data Integration Analyst
Healthcare Analyst / Healthcare Data Analyst
Human Resources data Analyst
Business Analyst - Data Protection
Data Analytics Senior Analyst
Information Technology Specialist / Data Analyst
Data Import Analyst
SAS Data Analyst III(With SOL & Tableau)
NA Data Reporting Analyst
Data Science- Security Analyst
Direct Client Requirement - Data Reporting Analyst
Sr. Business Data Analyst - Enterprise Risk
Claims Data Analyst
Data Analyst 4
SENIOR APPLICATION PROGRAMMER ANALYST (Data Transformation & Integration) - ITD
Data Analyst - SM
Reporting Data Analyst (contract to hire)
Data Analyst {S02268P}
Data Analyst - Marketing
Sr. Enterprise BI Data Analyst
Accounting/Data Analyst Associate
Sr. Business Data Analyst Enterprise Risk
Sr. BI Data Engineer and Analyst
Data Analyst (Python), Dallas, Methods+Mastery (a FleishmanHillard Company)
Data Platform System Analyst Lead (Data Services)
Data Management Analyst - Dallas, TX/ Tempe, FL
Behavorial Health Data Analyst
Data Analyst Lead - EM & Data
Sr. Data Analyst - Healthcare Claims
Data/Business Solutions Analyst - Jr
System Analyst(Big Data/Hadoop)
Application Vulnerability Governance Lead Data Analyst
SAP Data Analyst (Contract)
LAWSON LANDMARK DATA EXTRACT ANALYST
Business Analytics Analyst II (Data Concierge)
Data Science Sr. Analyst
Data Analyst -0517 Suv
Network Data Analyst
Technical Data Analyst Accounting
Data Analyst: II (Intermediate)
Senior Enterprise Data Management Analyst
Data Analyst - IT Administrator
Data Analyst Lead - Air/Technical Operations
Analyst, Client Data II
DATA ENGINEER / DATA ANALYST
Jr. Data Warehouse Systems Analyst
Data Management Analyst in Plano, TX at Community Hospital Corporation
QA Automation Analyst with Big data technology
Data Analyst Lead - Commercial
Senior Data Analyst - Property Operations
Sr Data Management Analyst
Data Analyst Lead (Customer and Reservations)
Data Analyst - Senior
Senior Data Risk Analyst
Data/Business Operations Analyst
Data Analyst - Sr
Digital S/W Eng Lead Analyst (Big data with SAS and PySpark background)
Senior QC Analyst: Data Integrity SME
Senior Data Analyst, Internal Audit
Analyst/Developer (Data Warehouse) III
Senior HR Data Analyst
Sr. Data Analyst - Growth & Adoption
Data Analyst, Product Insights
Data and User Acceptance Test Analyst
Tableau Data Analyst Intern
AI Insights Data Analyst
Data Analyst (SQL, Hive)
Data Analyst, Autonomy Operations
Senior Data Analyst Studio Finance Engineering
Data Analyst with Data Mapping and API
Senior Data Analyst - Studio Finance Engineering
Apple Media Products (AMP) - Big Data Analyst, Analytics Engineering
Finance & Accounting Data Analyst
Sr. Data Scientist/Analyst
Data Analyst I (German)
Biomedical Data Analyst I - Temporary
Research & Data Analyst Lead
Advance Data Analyst
Maps Evaluation Data Analyst
Bioinformatician/Research Data Analyst 1
Data Engineering/Analyst- Apple Cloud Services
Data Analyst 1
Data Privacy Analyst/ Program Manager I
Data Analyst- German Fluency
HR Data Analyst (Workday EIB)
Data Analyst lll
Bioinformatician-Research Data Analyst 1
Data Analyst/Technical Product Owner
Sr. Data Warehouse Analyst
Market Data Analyst - Global Securities Master (GSM)
Technical Business or Data Analyst
Senior BI and Data Analyst
Senior Data Analytics Analyst, Revenue
Senior Business/Data Analyst - WW Sales Finance Process, Analytics, and Reporting
Advance Data Analyst HSV Materials Customer Support fs)
Software Test Engineer - Data Analyst
Data Analyst Mentor
Data and User Acceptance Testing Analyst
Data Analyst-Senior Data Analyst
Documentation/Data Analyst
Data Analyst Tableau/Power BI
Business Analyst - MDM, Data Governance
Senior Data Analyst (Remote OK)
SAP Materials Master Data Analyst - Temp
Senior Data Analyst, People Analytics
Workday EIB Data Analyst
Senior Data Analyst (Product Analytics)
Data Analyst - Bilingual English and Italian
Sr. HR Data Analyst
Data Analyst - Bilingual English and Norwegian
Sr Consulting Data Analyst
Data Quality Analyst - Spanish
Regulatory Data Analyst
Sr. BI Business Analyst/Data Visualization Expert Initial Remote position at San Jose, CA for an year long proect.
Bioinformatics Data Analyst
Data warehouse Business Systems Analyst
Data Analyst - Redwood City via Company Shuttle!
SAP Materials Master Data Analyst (Temp)
RM - Data Maintenance Analyst
Data Analyst with Teradata Exp
Data Steward | Analyst
Data Analyst (Fluent in German)
Sr. Analyst, Data Governance
Data Analyst - MPK
Senior Market Research Analyst, Data Insights
Data Analyst - Bilingual English and Danish
Jr. Software Data/Operations Analyst Opportunity MTV
Senior Global Data Analyst, People Operations
HR Data Analyst/Scientist
German Speaking Data Analyst J
Senior Data Analyst Data Warehouse Consultant
Advance Data Analyst - HSV Materials Customer Support
Data Analyst QA
Signal Processing Engineer/Data Analyst
Data Analyst - Bilingual English and Indonesian
Senior Data Analyst/Data Warehouse Consultant
Strategic Sourcing Data Analyst
Sr QC Analyst (Data Reviewer)
Data Analyst - Bilingual English and Finnish
Lead Data Analyst (Enterprise Product Master Data Steward)
BI Business/Data Analyst Lead with hands on SQL
Sr. BI Data Analyst/Developer (SQL, Python, Power BI)
Sr Data Analyst/Data Warehouse consultant with Financial Healthcare systems
Manager : Marketing Ops and Data Analyst
Senior Risk Data Analyst
SAP Sr Master Data Functional Analyst
CCPA Data Analyst
Senior Quantitative Data Analyst
SAP MDG Business Analyst , Master Data Management
Data Analyst-IT II
Reconciliation Data Operations Analyst
Senior Claims Data Analyst
Ad Integrity Data Analyst-ATX
Data Analyst - People Analytics
Data Analyst, Trust & Safety
Data Analyst (Remote)
EDI Data Analyst
Business Intelligence and Data Analyst
Data Reporting Analyst, BI
Live Operations Data Analyst
Business Intelligence Analyst / Data Analyst
Data Analyst, Law Enforcement Response Team
Data Lineage Analyst
Data Analyst V
9-1-1 Data Analyst
Data Migration Analyst
TSDS Data QA Analyst (Data Analyst IV)
MDM/Master Data Analyst ( Tibco EBX )
Senior Cloud Data Analyst
Data Analyst/Data Entry/Federal Data Entry/Data Specialist
Data Analyst / Data Management /ETL / Talend /Alteryx
Celonis Data Engineer & Analyst
Associate SalesForce.com Data Steward & Analyst
Financial Controller / Data Analyst / Spreadsheet Superstar
Managed Care Data Analyst
Strategic Data Analyst III - Strategic Planning Divsion
Junior Data Warehouse Analyst
Data Analyst - Public Sector
Data Analyst, Lead with Security Clearance
Data Governance Analyst/Lead
Senior Strategy Data Analyst
BI Data Analyst and Specialist
Clinical Data Management - Technical Analyst
Splunk Data Analyst
20-63 Flood Planning Data Analyst (Data Analyst III)
Operations Research Analyst (Data Scientist)
Leading Data-Driven Change -- Data Industry Analyst
SQL Data and Integration Analyst
Industry Analyst -- Data Science and Strategy
Simulation Data Analyst
Data Analyst/Program Manager
Senior Data Analyst / Senior BI and Insights Analyst
Associate, Strategy and Operations (Data Analyst IV)
19-84R Team Lead (Data Analyst IV)
DPS - FIN - CAPPS Financial Senior Data Analyst
USGAAP Financial and Reference Data Control Analyst Analyst
Assistant Vice President, Anti Financial Crime Data Quality Analyst - {KP4457495}
Assistant Vice President, Anti Financial Crime Data Quality Analyst
CDHP - Data Analyst Team Lead
Power BI Data Analyst
Sr. Data Analyst - Guidewire Data Hub
Senior Data Analyst- Guidewire Data Hub
Guidewire Data Analyst
System Analyst (Data) - PL/SQl Server
ACA - Data Analyst
Data Analyst, Military Forecasting
Human Performance Data Analyst
Medical Data Analyst
Systems Engineer - Data Analyst (Level 3)
Data/Sales Analyst
Data/Financial Analyst
Data Analyst - Intelligent Automation
(Risk Data Analyst)
Systems Analyst - Data Conversion
Business Analyst with Data Governance ,IDQ exp
(Data Risk Analyst: Data Modeler)
+ Global Process Data Analyst
BI Data Analyst / Specialist
Data Analyst-Quality Improvement Services
Fraud Data Analyst
Software Engineer - Data Analyst
Business Analyst / Data Scientist Manager
Program Data Analyst
Planning Analyst - Data Resource Center
Data Analyst II(Claims,SQL,Billing,Healthcare)
Data Validation Analyst
JPSC-7975 - Data Analyst Lead- Columbus, OH (LOCAL CANDIDATES ONLY)
Data Statistics Analyst PFK - Care Coordination
Analyst: Data Analytics
Information Security and Data Protection Analyst
Data Scientist/Programmer, Sr. Analyst - Abbott Nutrition - Columbus, OH
Accounting Data Analyst / Implementation Specialist
Data Analyst III (Population Health , Pharmacy, SQL)
Data Statistics Analyst PFK Care Coordination
Software Engineer - Senior Data Analyst
Analytic Consultant 4 - Data Analyst
Federal - Data Analyst
Data Analyst I (Strong Salesforce.com)
Financial Data Analyst - Full Time
Data Visualization Analyst
Data Analyst/Business Analyst
Enterprise Data Office Analyst IV
Data Analyst/ Python with Banking Experience
Systems/Data Analyst
Data Analyst (Real Time Data Consultant Needed)
57072 - Market data Analyst - 100 % remote
Application Programmer V/ Database Developer/ Data Analyst
Data Standardization Analyst(s)
DATA MGMT ANALYST
Data Quality Analyst, Financial Services
Data Analyst with Banking Domain
Data Analyst - Metadata Analyst
Senior Business Analyst / Data Analyst
Data Visualization Analyst - N.
Application Programmer V/ Senior Data Analyst
Trust Application Data Analyst
Data Analyst 127909
Item Data Maintenance Analyst
Marketing Data Analyst - Remote
Business + Data Analyst
Data Stewardship Senior Analyst
Data Analyst [Administrative]
Analyst, Product Content Data Quality
QA Analyst Big Data/ETL - Charlotte, NC (W2 ONLY)
Big data analyst
Reporting /Data Analyst
Application Architect V/ Data Analyst
Sr. Data Technology Analyst
Data Optimization Analyst (Position In Hickory, NC)
Technology Control Analyst - AVP (Chief Data Office)
DIGITAL DATA/INSIGHTS ANALYST
Data Mgmt Analyst w/Traded Products
Data Governance Business Information Analyst
Data Analyst, Data Activation
QA Analyst with MongoDB / Big Data
Sr. Analyst, Product Content Data Quality
Digital Marketing & ECommerce Data Analyst
Sr. Data Analyst (Marketing Department)
Immediate Need For Data Analyst
Senior Analyst, Data & Analytics
Mid-Level Data Analyst
Temporary Part Time Data Analyst (Remote - North & South America)
Data Analyst (Finance)
User Acquisition Data Analyst
Data Analyst, Remote East Coast
Data Analyst Chemist - Quality System Contractor
DATA Analyst-Remote
Data Scientist/Analyst - Wilbur Labs
Business Intelligence Data Modeler/Analyst
Data Studio Analyst
Data Analyst (College & Foundation Reporting)
Data Analyst - Health
Business Data Analyst - Senior/Director - Work from Remote
Market Data Services Analyst
Financial Data Analyst, FP&A and Accounting
Loan Data Analyst
Data and Policy Analyst IV
Data Analyst, Growth
Senior Data Analyst, Member Services
Sr. Data Analyst, Twitter Service Tech
Web Data Analyst
Data Analyst (APPZ-DAHY)
Data Scientist Analyst
Data Analyst - San Francisco CA / VA - Fulltime
Scientific Data Manager and Analyst
Senior Data Analyst - Finance & Platform Analytics
Product Compliance Data Analyst
Principal Data Analyst
Master Data Analyst – SAP MDG Platform
CSV Data Validation Analyst
Senior Data and Fraud Analyst
Upstart - Data Analyst
Position for Lead Data Analyst (Teradata, Oracle, Hadoop)
Data Analyst, Transaction Monitoring
Senior Lead Data Analytics Analyst
Data Analyst w/ Tealium - Remote Work
Business Data Analyst Excel, Tableau - 100% Remote - Phoenix, Minneapolis, or Des Moines
Business Data Analyst - Senior/Director : 20
Senior Compliance Data Analyst, Cash App
Procurement Data Analyst
Master Data Management (MDM) - Business Systems Analyst
Sr. Data Analyst - Risk Analysis
Salesforce Administrator and Data Analyst
Alerts Business/Data Analyst
BI Developer - Data Analyst
Biological Data Analyst - Remote
Data Systems Analyst (7199U
Sr. Business and Data Analyst
Business Data Analyst - Senior/Director
Lead Data Analyst, BI/Visualizations
Epic Clarity Data Analyst
Senior Health Data Analyst
Sales Finance Data Analyst
Senior Business Technology Analyst - MDM / Data Management (San Francisco area, CA)
Business data analyst - SFO , CA
Business Data Analyst WITH Data Standards and Migration
BI Data Analyst / Business Analyst
Senior Product Data Analyst
Senior Business Data Analyst, Growth Strategy
Job Opportunity with Cognizant for Data Analyst at SFO ,CA (NO OPT & NO CPT)
Data Analyst - Int
Senior Financial Systems Analyst / Business Intelligence Data Modeler
Enrollment & Student Services Data & Systems Operations Analyst
Lead Data Analyst, Product
Biological Data Analyst
BI Data Analyst - Tibco & Spotfire
Data Analyst - Life Sciences
Sr. Data Analyst( Healthcare)
Senior Data Analyst - Health Care Innovation
Technical Business Analyst with SQL Data Specialist
Lead Data Engineer (Capital Markets Business Analyst 2)
Sr. BI Data Analyst (with Spotfire Exp & Bio/Pharma/Clinical Industry)-South San Francisco, California (W2)
Senior Business Technology Analyst - MDM / Data Management
Senior SAS Data Analyst
Cybersecurity Analyst (Payment Card Industry Data Security Standards (PCI-DSS))
Business Analyst with Data Loss Prevention (DLP) Concepts
Sr. Analyst, Financial Data and Reporting
Business Analyst II (Scientific Business Analyst PreClinical Data)
Sr. Process Analyst - Data Privacy Project
Sr. Data Analysts (Banking Domain)
COVID-19 Data Analyst
Junior Data Analyst Python
IT Data Analyst (Power BI)
Local Data Analyst - Clinical
Ending The HIV Epidemic Data Analyst
Sr. Healthcare Data Analyst
Sr Data Analyst II
Operations/Quality Data Analyst
Sr. IT Data Analyst
IT Data Analyst
Business Data Analyst - Marketing
Demand Response (DR) and Customer Success (CSM) BI and Data Analyst
Data Development Analyst~
Data Analyst II, QA
Data Analyst - Revenue Assurance
Data Standards Analyst
Security Data Analyst -CTJ
Engines Configuration and Data Management Analyst
Data Standards Analyst in Seattle, Washington | Careers at Fred Hutchinson Cancer Research Center
Bilingual Senior Data Analyst (Japanese / English)
Security Data Analyst
Data Analyst/Developer
Information Security Analyst - Data Loss Prevention
Data Analyst/PM (German)
Partner Training Data Analyst
Senior Data Analyst and Applied Scientist
Senior Data Analyst : 20
Security Data Analyst -CTJ with Security Clearance
Configuration/Data Management Analyst
Healthcare Business and Data Analyst
Big Data Quality Analyst/Hadoop Testing analyst/ Hadoop Tester
Product Marketing & Business/Data Analyst
Sr MDM Data Analyst (NOT A DEVELOPER)
Senior Data Analyst, Tax Technology (Level 6)
BI/Data Analyst- Configuration Lead
Active Directory Data Migration Analyst
Sr. Research Data Analyst
Configuration and Data Management Analyst
Sr. Business/Data Analyst
Senior Data Analyst, Tax Technology
Configuration/Data Management Analyst III
Student Data Analyst
SAP DATA ANALYST
Data Analyst - Denver, CO
Inside Sales Data Analyst
Senior Data Analyst, Sales Compensation
Reporting / Data Analyst
Data Support Analyst
Vendor Master Data Associate Analyst
Systems & Data Analyst
Data Analyst...........................!
HealthCare Data Analyst - SQL and Python
Soapbox Data Analyst
DMV/DC Data Services Analyst - Analyst II
Data Analyst/Data engineer/Data Management
Mutual Fund Data Analyst (JR1013810) - Contract
GAO Analyst (Data Analysis)
Data Analyst- Growth Operations
Associate Business Analyst, Data Provisioning
Technical Lead- I Data Analyst
DMV/DC Data Services Analyst – Analyst II
Data Analyst (W2 Contract Position)
SQL Data Analyst / ETL Developer
{"title":"GAO Analyst (Data Analysis)","extended":{"opening_type":null}}
Lead HR & Data Governance Analyst
Data Base Programmer/Analyst
Data Analyst 3, Customer Experience
Actuarial Data & Visualization Analyst
Technical Data Analyst - X
Data Analytics, Senior Analyst
MDG Functional Data Analyst-Greenwood Village, CO
Data Analyst - Aurora, IL
Data Analyst - Junior
Senior Business/Data Analyst
Application Data Analyst
Data Analyst-(Remote- All across US)
Business Data Analyst III - RQS 2018
Configuration & Data Management Analyst
Data Analyst 3, Customer Experience - Centennial
Senior Health Data Analyst (SAS)
ColdFusion Development Data Analyst -Remote
RQS - IHHA - 201900004460 -1s Data Security Analyst
Data Security Analyst fr
Business Systems Analyst-Data
Data Analyst-(Remote- All across
Data Security Analyst, Sr
Data Analyst Supporting the DEA #20-242
Technical Business Analyst (SQL, Data analytics, Informatica)
Marketing/Communications - Data Analyst-Marketing
RQS - IHHA - 201900004460 -1q Data Security Analyst
Senior Data Analyst (Corporate Audit)

Marin City, CA
Concord, CA
San Ramon, CA
Brentwood, CA
Emeryville, CA
East Brunswick, NJ
Chesterfield, MO
Keswick, VA
South Windsor, CT
Minneapolis, MN
Vienna, Austria
Hercules, CA
Faridabad, India
South Melbourne, Australia
South San Francisco, CA
Pleasant Hill, CA
Worthington, OH
Carmel, IN
Wilmington, DE
Indianapolis, IN
Feusisberg, Switzerland
Edmond, OK
Mishawaka, IN
Moosic, PA
Redmond, WA
Issaquah, WA
Burnsville, MN
Kent, WA
Kyoto, Japan
Tigard, OR
Athens, GA
Cooper City, FL
Gilbert, AZ
Louisville, CO
Lakewood, CO
Rochester, MN
Monroe, LA
Lakeland, FL
Aurora, IL
Beaverton, OR
West Des Moines, IA
West Chester, OH
Broomfield, CO


Size
==============================
201 to 500 employees
10000+ employees
1001 to 5000 employees
501 to 1000 employees
5001 to 10000 employees
1 to 50 employees
51 to 200 employees
nan


Founded
==============================
1961.0
1893.0
2003.0
2002.0
2009.0
2014.0
2001.0
1914.0
1896.0
2013.0
1841.0
nan
1884.0
2004.0
2016.0
1996.0
1958.0
2006.0
1998.0
1969.0
2011.0
2017.0
2005.0
1904.0
2018.0
1956.0
2007.0
1990.0
1923.0
2015.0
1951.0
1981.0
2000.0
1966.0
1939.0
1999.0
1812.0
1945.0
1985.0
1984.0
1962.0
1995.0
2012.0
1967.0
1799.0
1918.0
1948.0
1994.0
1895.0
1845.0
1968.0
2008.0
1911.0
1997.0
1832.0
1934.0
1938.0
1963.0
1992.0
1977.0
1886.0
1862.0
1906.0
1993.0
1935.0
1971.0
1989.0
1859.0
1946.0
1818.0
1932.0
1784.0
1856.0
1978.0
1912.0
1957.0
1937.0
1982.0
1964.0
1850.0
1983.0
1869.0
1947.0
1868.0
1936.0
1853.0
2010.0
1902.0
1944.0
1888.0
1880.0
1973.0
1931.0
1987.0
2019.0
1919.0
1979.0
1954.0
1980.0
1976.0
1872.0
1926.0
1991.0
1855.0
1959.0
1986.0
1890.0
1882.0
1883.0
1837.0
1817.0
1908.0
1988.0
1965.0
1828.0
1889.0
1898.0
1928.0
1913.0
1901.0
1916.0
1857.0
1955.0
1949.0
1970.0
1822.0
1972.0
1864.0
1975.0
1960.0
1885.0
1922.0
1740.0
1830.0
1887.0
1974.0
1905.0
1953.0
1952.0
1897.0
1865.0
1921.0
1867.0
1933.0
1874.0
1891.0
1807.0
1870.0
1892.0
1852.0
1698.0
1924.0
1907.0
1682.0
1875.0
1917.0
1876.0
1785.0
1909.0
1789.0
1930.0


Type of ownership
==============================
Nonprofit Organization
Company - Private
Subsidiary or Business Segment
Company - Public
Hospital
nan
Contract
Government
School / School District
Other Organization
College / University
Self-employed
Private Practice / Firm
Franchise


Industry
==============================
Social Assistance
Health Care Services & Hospitals
Internet
IT Services
Sports & Recreation
Investment Banking & Asset Management
Insurance Carriers
Venture Capital & Private Equity
Research & Development
nan
Advertising & Marketing
Brokerage Services
Building & Personnel Services
Consulting
Casual Restaurants
Enterprise Software & Network Solutions
Lending
Banks & Credit Unions
Computer Hardware & Software
Staffing & Outsourcing
Motion Picture Production & Distribution
Legal
Real Estate
Federal Agencies
TV Broadcast & Cable Networks
Accounting
Food & Beverage Stores
Health, Beauty, & Fitness
Biotech & Pharmaceuticals
Insurance Agencies & Brokerages
Gambling
Video Games
Colleges & Universities
Architectural & Engineering Services
General Repair & Maintenance
Security Services
News Outlet
Commercial Equipment Repair & Maintenance
Publishing
Energy
Other Retail Stores
Health Fundraising Organizations
Utilities
Consumer Products Manufacturing
Municipal Governments
Electrical & Electronic Manufacturing
Industrial Manufacturing
Preschool & Child Care
Aerospace & Defense
Food & Beverage Manufacturing
Vehicle Dealers
Telecommunications Services
Construction
Financial Transaction Processing
Beauty & Personal Accessories Stores
Automotive Parts & Accessories Stores
Chemical Manufacturing
Department, Clothing, & Shoe Stores
K-12 Education
Transportation Management
Miscellaneous Manufacturing
Logistics & Supply Chain
Catering & Food Service Contractors
Health Care Products Manufacturing
Drug & Health Stores
Wholesale
Membership Organizations
Oil & Gas Services
Sporting Goods Stores
Gas Stations
Truck Rental & Leasing
Express Delivery Services
Cable, Internet & Telephone Providers
Metals Brokers
Grocery Stores & Supermarkets
Pet & Pet Supplies Stores
Education Training Services
Financial Analytics & Research
Audiovisual
Transportation Equipment Manufacturing
Convenience Stores & Truck Stops
Consumer Product Rental
Consumer Electronics & Appliances Stores
State & Regional Agencies
Trucking
Stock Exchanges
Home Centers & Hardware Stores
General Merchandise & Superstores
Hotels, Motels, & Resorts


Sector
==============================
Non-Profit
Health Care
Information Technology
Arts, Entertainment & Recreation
Finance
Insurance
Business Services
nan
Restaurants, Bars & Food Services
Media
Accounting & Legal
Real Estate
Government
Retail
Consumer Services
Biotech & Pharmaceuticals
Education
Construction, Repair & Maintenance
Oil, Gas, Energy & Utilities
Manufacturing
Aerospace & Defense
Telecommunications
Transportation & Logistics
Mining & Metals
Travel & Tourism


Revenue
==============================
$100 to $500 million (USD)
$2 to $5 billion (USD)
nan
$50 to $100 million (USD)
$1 to $2 billion (USD)
$5 to $10 billion (USD)
$1 to $5 million (USD)
$25 to $50 million (USD)
$10+ billion (USD)
Less than $1 million (USD)
$10 to $25 million (USD)
$500 million to $1 billion (USD)
$5 to $10 million (USD)

### Drop NaN

In [8]:
df = df.dropna()
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1205 entries, 0 to 2252
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Job Title          1205 non-null   object
 1   Salary Estimate    1205 non-null   object
 2   Rating             1205 non-null   float64
 3   Location           1205 non-null   object
 4   Headquarters       1205 non-null   object
 5   Size               1205 non-null   object
 6   Founded            1205 non-null   float64
 7   Type of ownership  1205 non-null   object
 8   Industry           1205 non-null   object
 9   Sector             1205 non-null   object
 10  Revenue            1205 non-null   object
dtypes: float64(2), object(9)
memory usage: 113.0+ KB

## Preparation

In [9]:
x = pd.DataFrame()
y = pd.DataFrame()

### Y

#### Salary

In [10]:
# Salary

# salaries = list(df[df.columns[1]].unique())
# salaries.sort(key=lambda x: (int(re.findall('\d+', x)[0]), int(re.findall('\d+', x)[1])))
# replacement_index = {}
# for i in range(len(salaries)):
#     replacement_index[salaries[i]] = i
# x['Employee Number'] = df[df.columns[1]].replace(replacement_index)
# print(json.dumps(replacement_index, indent=4))
# x.head()

salaries = df[df.columns[1]].copy()
salary_l = []
salary_u = []
for salary in salaries:
    lim_l, lim_u = re.findall('\d+', salary)
    salary_l.append(int(lim_l))
    salary_u.append(int(lim_u))
y['Salary Lower'] = salary_l
y['Salary Upper'] = salary_u
y

      Salary Lower  Salary Upper
0               37            66
1               37            66
2               37            66
3               37            66
4               37            66
...            ...           ...
1200            78           104
1201            78           104
1202            78           104
1203            78           104
1204            78           104

[1205 rows x 2 columns]

### X

#### Rating

In [11]:
x['Rating'] = df[df.columns[2]] 
x.head()

   Rating
0     3.2
1     3.8
3     4.1
4     3.9
7     3.7

#### Location

In [12]:
# Location
locations = np.sort(df[df.columns[3]].unique())
replacement_index = {}
for i in range(len(locations)):
    replacement_index[locations[i]] = i
x['Location'] = df[df.columns[3]].replace(replacement_index)
print(json.dumps(replacement_index, indent=4))
x.head()

{
    "Alachua, FL": 0,
    "Alameda, CA": 1,
    "Allen, TX": 2,
    "American Fork, UT": 3,
    "Arcadia, CA": 4,
    "Arlington, TX": 5,
    "Athens, GA": 6,
    "Aurora, CO": 7,
    "Austin, TX": 8,
    "Azusa, CA": 9,
    "Beech Grove, IN": 10,
    "Bellevue, WA": 11,
    "Bensalem, PA": 12,
    "Berkeley Heights, NJ": 13,
    "Berkeley, CA": 14,
    "Berwyn, PA": 15,
    "Beverly Hills, CA": 16,
    "Blue Bell, PA": 17,
    "Boothwyn, PA": 18,
    "Boulder, CO": 19,
    "Brea, CA": 20,
    "Broadview, IL": 21,
    "Bronx, NY": 22,
    "Brooklyn, NY": 23,
    "Broomfield, CO": 24,
    "Burbank, CA": 25,
    "Burlingame, CA": 26,
    "Burlingame, KS": 27,
    "Camden, NJ": 28,
    "Carmel, IN": 29,
    "Carrollton, TX": 30,
    "Centennial, CO": 31,
    "Cerritos, CA": 32,
    "Chandler, AZ": 33,
    "Charlotte, NC": 34,
    "Chesapeake, VA": 35,
    "Chicago, IL": 36,
    "Columbus, OH": 37,
    "Conshohocken, PA": 38,
    "Coppell, TX": 39,
    "Culver City, CA": 40,
    "Cupertino, CA": 41,
    "DC Ranch, AZ": 42,
    "Dallas, TX": 43,
    "Daly City, CA": 44,
    "Deerfield, IL": 45,
    "Denver, CO": 46,
    "Downers Grove, IL": 47,
    "Draper, UT": 48,
    "Dublin, OH": 49,
    "East Palo Alto, CA": 50,
    "El Cajon, CA": 51,
    "El Segundo, CA": 52,
    "Elk Grove Village, IL": 53,
    "Englewood, CO": 54,
    "Essex Fells, NJ": 55,
    "Evanston, IL": 56,
    "Exton, PA": 57,
    "Feasterville Trevose, PA": 58,
    "Florham Park, NJ": 59,
    "Fort Eustis, VA": 60,
    "Fort Lee, NJ": 61,
    "Fort Mill, SC": 62,
    "Fort Worth, TX": 63,
    "Foster City, CA": 64,
    "Franklin Lakes, NJ": 65,
    "Fremont, CA": 66,
    "Gainesville, FL": 67,
    "Gardena, CA": 68,
    "Glendale, AZ": 69,
    "Glendale, CA": 70,
    "Glenview, IL": 71,
    "Grapevine, TX": 72,
    "Greenwood Village, Arapahoe, CO": 73,
    "Hampton, VA": 74,
    "Hanford, CA": 75,
    "Haworth, NJ": 76,
    "Henderson, CO": 77,
    "Hercules, CA": 78,
    "Hoboken, NJ": 79,
    "Horsham, PA": 80,
    "Houston, TX": 81,
    "Huntersville, NC": 82,
    "Indianapolis, IN": 83,
    "Irving, TX": 84,
    "Iselin, NJ": 85,
    "Issaquah, WA": 86,
    "Itasca, IL": 87,
    "Jacksonville, FL": 88,
    "Jeffersonville, IN": 89,
    "Jersey City, NJ": 90,
    "Kent, WA": 91,
    "King of Prussia, PA": 92,
    "Kirkland, WA": 93,
    "Lackland AFB, TX": 94,
    "Lake Success, NY": 95,
    "Lakewood, CO": 96,
    "Lehi, UT": 97,
    "Lewisville, TX": 98,
    "Littleton, CO": 99,
    "Lone Tree, CO": 100,
    "Long Beach, CA": 101,
    "Los Angeles, CA": 102,
    "Los Gatos, CA": 103,
    "Louisville, CO": 104,
    "Malvern, PA": 105,
    "Manhasset, NY": 106,
    "Marin City, CA": 107,
    "Marina del Rey, CA": 108,
    "Marlton, NJ": 109,
    "Maywood, IL": 110,
    "Menlo Park, CA": 111,
    "Millbrae, CA": 112,
    "Milpitas, CA": 113,
    "Montvale, NJ": 114,
    "Mooresville, NC": 115,
    "Mount Laurel, NJ": 116,
    "Mountain View, CA": 117,
    "New York, NY": 118,
    "Newark, CA": 119,
    "Newark, NJ": 120,
    "Norfolk, VA": 121,
    "Northbrook, IL": 122,
    "Northfield, IL": 123,
    "Northlake, IL": 124,
    "Northridge, CA": 125,
    "Novato, CA": 126,
    "Oak Brook, IL": 127,
    "Oakland, CA": 128,
    "Palo Alto, CA": 129,
    "Paoli, PA": 130,
    "Pasadena, CA": 131,
    "Pasadena, TX": 132,
    "Pearland, TX": 133,
    "Philadelphia, PA": 134,
    "Phoenix, AZ": 135,
    "Plano, TX": 136,
    "Portsmouth, VA": 137,
    "Radnor, PA": 138,
    "Redmond, WA": 139,
    "Redwood City, CA": 140,
    "Reedley, CA": 141,
    "Renton, WA": 142,
    "Richardson, TX": 143,
    "Ridley Park, PA": 144,
    "Rolling Meadows, IL": 145,
    "Round Rock, TX": 146,
    "Salt Lake City, UT": 147,
    "San Antonio, TX": 148,
    "San Diego, CA": 149,
    "San Francisco, CA": 150,
    "San Jose, CA": 151,
    "San Mateo, CA": 152,
    "San Rafael, CA": 153,
    "San Ramon, CA": 154,
    "Santa Clara, CA": 155,
    "Santa Monica, CA": 156,
    "Scottsdale, AZ": 157,
    "Seattle, WA": 158,
    "Secaucus, NJ": 159,
    "Smithfield, VA": 160,
    "South San Francisco, CA": 161,
    "Stafford, TX": 162,
    "Stanford, CA": 163,
    "Suffolk, VA": 164,
    "Sugar Land, TX": 165,
    "Summit, NJ": 166,
    "Sunnyvale, CA": 167,
    "Tempe, AZ": 168,
    "Topeka, KS": 169,
    "Torrance, CA": 170,
    "Union City, CA": 171,
    "Walnut Creek, CA": 172,
    "Wayne, PA": 173,
    "Weehawken, NJ": 174,
    "West Chester, PA": 175,
    "West Orange, NJ": 176,
    "West Point, PA": 177,
    "Westerville, OH": 178,
    "Westlake, TX": 179,
    "Whippany, NJ": 180,
    "Whitestown, IN": 181,
    "Whittier, CA": 182,
    "Wilmington, DE": 183,
    "Woodbridge, NJ": 184,
    "Woodland Hills, CA": 185,
    "Woodridge, IL": 186,
    "Yorktown, VA": 187
}

   Rating  Location
0     3.2       118
1     3.8       118
3     4.1       118
4     3.9       118
7     3.7       118

#### Size

In [13]:
# Size
sizes = list(df[df.columns[5]].unique())
sizes.sort(key=lambda x: int(re.findall('\d+', x)[0]))
replacement_index = {}
for i in range(len(sizes)):
    replacement_index[sizes[i]] = i
x['Employee'] = df[df.columns[6]].replace(replacement_index)
print(json.dumps(replacement_index, indent=4))
x.head()

{
    "1 to 50 employees": 0,
    "51 to 200 employees": 1,
    "201 to 500 employees": 2,
    "501 to 1000 employees": 3,
    "1001 to 5000 employees": 4,
    "5001 to 10000 employees": 5,
    "10000+ employees": 6
}

   Rating  Location  Employee
0     3.2       118    1961.0
1     3.8       118    1893.0
3     4.1       118    2002.0
4     3.9       118    2009.0
7     3.7       118    1914.0

#### Age

In [14]:
# Age
founded_dates = df[df.columns[6]].astype(int).to_numpy()
ages = datetime.date.today().year - founded_dates
x['Age'] = ages
x.head()

   Rating  Location  Employee  Age
0     3.2       118    1961.0   61
1     3.8       118    1893.0  129
3     4.1       118    2002.0   20
4     3.9       118    2009.0   13
7     3.7       118    1914.0  108

#### Ownership Type

In [15]:
# Ownership Type
ownership_types = np.sort(df[df.columns[7]].unique())
replacement_index = {}
for i in range(len(ownership_types)):
    replacement_index[ownership_types[i]] = i
x['Ownership Type'] = df[df.columns[7]].replace(replacement_index)
print(json.dumps(replacement_index, indent=4))
x.head()

{
    "College / University": 0,
    "Company - Private": 1,
    "Company - Public": 2,
    "Contract": 3,
    "Government": 4,
    "Hospital": 5,
    "Nonprofit Organization": 6,
    "Other Organization": 7,
    "Private Practice / Firm": 8,
    "School / School District": 9,
    "Subsidiary or Business Segment": 10
}

   Rating  Location  Employee  Age  Ownership Type
0     3.2       118    1961.0   61               6
1     3.8       118    1893.0  129               6
3     4.1       118    2002.0   20              10
4     3.9       118    2009.0   13               1
7     3.7       118    1914.0  108               1

#### Industry

In [16]:
# Industry
industries = np.sort(df[df.columns[8]].unique())
replacement_index = {}
for i in range(len(industries)):
    replacement_index[industries[i]] = i
x['Industry'] = df[df.columns[8]].replace(replacement_index)
print(json.dumps(replacement_index, indent=4))
x.head()

{
    "Accounting": 0,
    "Advertising & Marketing": 1,
    "Aerospace & Defense": 2,
    "Architectural & Engineering Services": 3,
    "Automotive Parts & Accessories Stores": 4,
    "Banks & Credit Unions": 5,
    "Biotech & Pharmaceuticals": 6,
    "Brokerage Services": 7,
    "Building & Personnel Services": 8,
    "Cable, Internet & Telephone Providers": 9,
    "Chemical Manufacturing": 10,
    "Colleges & Universities": 11,
    "Commercial Equipment Repair & Maintenance": 12,
    "Computer Hardware & Software": 13,
    "Construction": 14,
    "Consulting": 15,
    "Consumer Products Manufacturing": 16,
    "Convenience Stores & Truck Stops": 17,
    "Department, Clothing, & Shoe Stores": 18,
    "Drug & Health Stores": 19,
    "Education Training Services": 20,
    "Electrical & Electronic Manufacturing": 21,
    "Energy": 22,
    "Enterprise Software & Network Solutions": 23,
    "Federal Agencies": 24,
    "Financial Analytics & Research": 25,
    "Financial Transaction Processing": 26,
    "Food & Beverage Manufacturing": 27,
    "Gambling": 28,
    "Gas Stations": 29,
    "General Merchandise & Superstores": 30,
    "Grocery Stores & Supermarkets": 31,
    "Health Care Products Manufacturing": 32,
    "Health Care Services & Hospitals": 33,
    "Health Fundraising Organizations": 34,
    "Home Centers & Hardware Stores": 35,
    "IT Services": 36,
    "Industrial Manufacturing": 37,
    "Insurance Agencies & Brokerages": 38,
    "Insurance Carriers": 39,
    "Internet": 40,
    "Investment Banking & Asset Management": 41,
    "K-12 Education": 42,
    "Legal": 43,
    "Lending": 44,
    "Logistics & Supply Chain": 45,
    "Membership Organizations": 46,
    "Miscellaneous Manufacturing": 47,
    "Motion Picture Production & Distribution": 48,
    "Municipal Governments": 49,
    "News Outlet": 50,
    "Oil & Gas Services": 51,
    "Other Retail Stores": 52,
    "Pet & Pet Supplies Stores": 53,
    "Preschool & Child Care": 54,
    "Publishing": 55,
    "Real Estate": 56,
    "Research & Development": 57,
    "Security Services": 58,
    "Social Assistance": 59,
    "Sporting Goods Stores": 60,
    "Sports & Recreation": 61,
    "Staffing & Outsourcing": 62,
    "Stock Exchanges": 63,
    "TV Broadcast & Cable Networks": 64,
    "Telecommunications Services": 65,
    "Transportation Equipment Manufacturing": 66,
    "Transportation Management": 67,
    "Truck Rental & Leasing": 68,
    "Utilities": 69,
    "Venture Capital & Private Equity": 70,
    "Video Games": 71,
    "Wholesale": 72
}

   Rating  Location  Employee  Age  Ownership Type  Industry
0     3.2       118    1961.0   61               6        59
1     3.8       118    1893.0  129               6        33
3     4.1       118    2002.0   20              10        36
4     3.9       118    2009.0   13               1        61
7     3.7       118    1914.0  108               1        39

#### Sector

In [17]:
# Sector
sectors = np.sort(df[df.columns[9]].unique())
replacement_index = {}
for i in range(len(sectors)):
    replacement_index[sectors[i]] = i
x['Sector'] = df[df.columns[9]].replace(replacement_index)
print(json.dumps(replacement_index, indent=4))
x.head()

{
    "Accounting & Legal": 0,
    "Aerospace & Defense": 1,
    "Arts, Entertainment & Recreation": 2,
    "Biotech & Pharmaceuticals": 3,
    "Business Services": 4,
    "Construction, Repair & Maintenance": 5,
    "Education": 6,
    "Finance": 7,
    "Government": 8,
    "Health Care": 9,
    "Information Technology": 10,
    "Insurance": 11,
    "Manufacturing": 12,
    "Media": 13,
    "Non-Profit": 14,
    "Oil, Gas, Energy & Utilities": 15,
    "Real Estate": 16,
    "Restaurants, Bars & Food Services": 17,
    "Retail": 18,
    "Telecommunications": 19,
    "Transportation & Logistics": 20
}

   Rating  Location  Employee  Age  Ownership Type  Industry  Sector
0     3.2       118    1961.0   61               6        59      14
1     3.8       118    1893.0  129               6        33       9
3     4.1       118    2002.0   20              10        36      10
4     3.9       118    2009.0   13               1        61       2
7     3.7       118    1914.0  108               1        39      11

#### Revenue

In [18]:
# Revenue
revenues = list(df[df.columns[-1]].unique())
revenues.sort(key=lambda x: (0 if 'million' in x else 1, int(re.findall('\d+', x)[0])))
replacement_index = {}
for i in range(len(revenues)):
    replacement_index[revenues[i]] = i
x['Revenue'] = df[df.columns[-1]].replace(replacement_index)
print(json.dumps(replacement_index, indent=4))
x.head()

{
    "$1 to $5 million (USD)": 0,
    "Less than $1 million (USD)": 1,
    "$5 to $10 million (USD)": 2,
    "$10 to $25 million (USD)": 3,
    "$25 to $50 million (USD)": 4,
    "$50 to $100 million (USD)": 5,
    "$100 to $500 million (USD)": 6,
    "$500 million to $1 billion (USD)": 7,
    "$1 to $2 billion (USD)": 8,
    "$2 to $5 billion (USD)": 9,
    "$5 to $10 billion (USD)": 10,
    "$10+ billion (USD)": 11
}

   Rating  Location  Employee  Age  Ownership Type  Industry  Sector  Revenue
0     3.2       118    1961.0   61               6        59      14        6
1     3.8       118    1893.0  129               6        33       9        9
3     4.1       118    2002.0   20              10        36      10        5
4     3.9       118    2009.0   13               1        61       2        6
7     3.7       118    1914.0  108               1        39      11        6

In [19]:
df.head()

,Job Title,Salary Estimate,Rating,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue
0,"Data Analyst, Center on Immigration and Justic...",$37K-$66K (Glassdoor est.),3.2,"New York, NY","New York, NY",201 to 500 employees,1961.0,Nonprofit Organization,Social Assistance,Non-Profit,$100 to $500 million (USD)
1,Quality Data Analyst,$37K-$66K (Glassdoor est.),3.8,"New York, NY","New York, NY",10000+ employees,1893.0,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD)
3,Data Analyst,$37K-$66K (Glassdoor est.),4.1,"New York, NY","McLean, VA",201 to 500 employees,2002.0,Subsidiary or Business Segment,IT Services,Information Technology,$50 to $100 million (USD)
4,Reporting Data Analyst,$37K-$66K (Glassdoor est.),3.9,"New York, NY","New York, NY",501 to 1000 employees,2009.0,Company - Private,Sports & Recreation,"Arts, Entertainment & Recreation",$100 to $500 million (USD)
7,Data Science Analyst,$37K-$66K (Glassdoor est.),3.7,"New York, NY","New York, NY",201 to 500 employees,1914.0,Company - Private,Insurance Carriers,Insurance,$100 to $500 million (USD)

### Train Data

In [20]:
y0 = y[y.columns[0]]
y0

0       37
1       37
2       37
3       37
4       37
        ..
1200    78
1201    78
1202    78
1203    78
1204    78
Name: Salary Lower, Length: 1205, dtype: int64

In [21]:
x_train, x_test, y_train, y_test = train_test_split(x, y0, test_size=0.2)

## Prediction

In [22]:
decision_tree = DecisionTreeClassifier()
decision_tree.fit(x_train, y_train)
predictions = decision_tree.predict(x_test)
score = accuracy_score(y_test, predictions)
score

0.25311203319502074

In [23]:
tree.export_graphviz(
    decision_tree,
    out_file='outputs/job-prediction.dot',
    feature_names=x.columns,
    class_names=sorted(y0.astype(str).unique()),
    label='all',
    rounded=True,
    filled=True,
)